{
  "enableChaseCam": true,
  "enableCursorOffset": false,
  "enableLookahead": false,
  
  // chase cam
  "lerpSpeed": 0.1,
  // if absolute is greater than this value, multiplier begins to decrease quadratically
  "invertSpeedThreshold": 23,

  // cursor offset
  "offsetLerpSpeedMult": 0.5,
  "maxCamDistance": 5,
  "cursorOffsetIntensity": 0.3,
  
  // lookahead 
  "lookaheadLerpSpeedMult": 0.5,
  "lookaheadDeadzone": 5,
  "lookaheadDistance": [10, 5]

}